In [1]:
import geopandas as gpd
import pandas as pd
import fiona
import multiprocess as mp
import tqdm
import shapely
shapely.speedups.enable()

In [2]:
# read in postcodes, make it geodataframe, then set the CRS
pc = pd.read_csv('/Users/Lauh/Documents/GitHub/postcode-to-workplace-zone/ONSPD_AUG_2021_UK.csv')
pc = gpd.GeoDataFrame(pc,geometry=gpd.points_from_xy(pc['long'],pc['lat']))
pc = pc.set_crs('WGS84')

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,31,40,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
# read in the golden grid which has been dissolved into one polygon
wmgoldengridmerged=gpd.read_file('wmgoldengridmerged.geojson').drop(columns=['inside','band1','grid_id','index_right','iso_id','min','max','center','population','lon','lat'])

In [10]:
# find out which postcodes are within the golden grid
pcwmgg=gpd.sjoin(pc,wmgoldengridmerged,op="within")

In [11]:
pcwmgg

,pcd,pcd2,pcds,dointr,doterm,oscty,ced,oslaua,osward,parish,...,long,lep1,lep2,pfa,imd,calncv,stp,geometry,index_right,id
50300,B1 1AA,B1 1AA,B1 1AA,199002,201008.0,E99999999,E99999999,E08000025,E05011151,E43000250,...,-1.903535,E37000012,NaN,E23000014,20275,E56000007,E54000016,POINT (-1.90353 52.47666),0,1
50301,B1 1AD,B1 1AD,B1 1AD,199101,200307.0,E99999999,E99999999,E08000025,E05011151,E43000250,...,-1.903535,E37000012,NaN,E23000014,20275,E56000007,E54000016,POINT (-1.90353 52.47666),0,1
50302,B1 1AG,B1 1AG,B1 1AG,198704,200011.0,E99999999,E99999999,E08000025,E05011151,E43000250,...,-1.902156,E37000012,NaN,E23000014,1036,E56000007,E54000017,POINT (-1.90216 52.47453),0,1
50303,B1 1AH,B1 1AH,B1 1AH,198604,199405.0,E99999999,E99999999,E08000025,E05011151,E43000250,...,-1.904257,E37000012,NaN,E23000014,20275,E56000007,E54000016,POINT (-1.90426 52.47639),0,1
50304,B1 1AQ,B1 1AQ,B1 1AQ,199201,200011.0,E99999999,E99999999,E08000025,E05011151,E43000250,...,-1.902156,E37000012,NaN,E23000014,1036,E56000007,E54000017,POINT (-1.90216 52.47453),0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2628820,WV9 5HY,WV9 5HY,WV9 5HY,199712,NaN,E10000028,E58001344,E07000196,E05006989,E04008958,...,-2.133078,E37000032,NaN,E23000015,23766,E56000007,E54000010,POINT (-2.13308 52.65538),0,1
2628822,WV9 5JE,WV9 5JE,WV9 5JE,198303,NaN,E10000028,E58001344,E07000196,E05006989,E04008958,...,-2.138230,E37000032,NaN,E23000015,23766,E56000007,E54000010,POINT (-2.13823 52.65786),0,1
2628823,WV9 5JF,WV9 5JF,WV9 5JF,198303,NaN,E10000028,E58001344,E07000196,E05006989,E04008958,...,-2.138993,E37000032,NaN,E23000015,23766,E56000007,E54000010,POINT (-2.13899 52.65744),0,1
2628824,WV9 5JW,WV9 5JW,WV9 5JW,198307,NaN,E10000028,E58001344,E07000196,E05006989,E04008958,...,-2.139936,E37000032,NaN,E23000015,27837,E56000007,E54000010,POINT (-2.13994 52.65972),0,1
2628825,WV9 5JZ,WV9 5JZ,WV9 5JZ,199612,NaN,E10000028,E58001344,E07000196,E05006989,E04008958,...,-2.131114,E37000032,NaN,E23000015,23766,E56000007,E54000010,POINT (-2.13111 52.65617),0,1